*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}

ul,
ol,
h1,
h2,
h3,
p,
figure {
  margin: 0;
  padding: 0;
}

button {
  border: none;
  background: none;
}

img,
video {
  max-width: 100%;
}
